@charset 'utf-8';
@import url(../../../css/reset.css);

/* 나눔스퀘어 */
font-family: 'NanumSquare'; 300, 400, 700, 800
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

/* 나눔명조 */
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
.nanummyeongjo * {
 font-family: 'Nanum Myeongjo', serif;
}

/* Common */
body {
  font-family: 'NanumSquare', 'Noto Sans KR', '맑은 고딕', 'Apple SD Gothic NEO', sans-serif;
  font-size: 16px; color: #666;
}
:root {
  --red: #68080D;
}
button {color: inherit;font: inherit;line-height: 1;background: none;border: none;cursor: pointer;}
.container {margin: auto;}
.blind {display: block;width: 1px;height: 1px;overflow: hidden;}
.clrfix::after {display: block;content: "";clear: both;}

/* header */
header {color: #fff;position: fixed;left: 0;top: 0;right: 0;}
h1 {float: left; margin-right: 50px;}
h1 a {
  display: block;width: 177px;height: 37px;
  padding: 20px 24px;
  background-color: var(--red);
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: 24px 20px;
}
nav {float: left;background: pink;}
#gnb {display: none;}
#gnb>li {float: left;}
#gnb>li>a {
  display: block;margin-right: 75px;
  line-height: 77px;font-size: 19px;font-weight: 700;
}
.header_util {float: right;border: 1px solid gold;}
.btn_login {display: none;}

.header_search {display: inline-block;}
.btn_search_open {width: 30px;height: 30px;background: url(../img/sear_ico.png);}
.search_box {display: none;}

.allmenu_wrap {display: inline-block;}
.btn_allmenu_open {width: 30px;height: 30px;background: url(../img/allmenu_ico.png);}
.allmenu {display: none;}
footer {height: 800px;background: #dedede;}
main {padding-bottom: 100px;}
/* visual_wrap */
main .visual_wrap {height: 100vh;background: url(../img/vis_1.jpg);}
.visual_txt {
  color: #fff;height: 100vh;
  display: flex;align-items: center;justify-content: center;flex-direction: column;
}
.visual_txt span {border: 1px solid #fff;font-size: 24px;margin-bottom: 40px;}
.visual_txt strong {font-size: 65px;margin-bottom: 30px;}

/* exhibit */
.exhibit_wrap {}
.exhibit_img {width: 570px; height: 350px; margin-left: 60px; overflow: hidden;float: right;}
.exhibit_img img {width: 100%;}
.exhibit_desc {width: calc(100% - 630px); height: 350px; background: orange;float: left;}

/* 상설전시 */
.hall_wrap {
  padding: 150px 0; color: #fff;
  background: url(../img/section_3_exhi_1_bg2.jpg) center;
  background-size: cover;
}
.hall_wrap h2 {font-size: 40px;margin-bottom: 30px;text-align: center;}
.hall_wrap ul {
  display: flex; /*flex-direction: row;<- 디폴트값. 그 외에는 row-reverse,colum*/
  background: yellowgreen;height: 300px;
  align-items: center;
}
.hall_wrap li {
  width: 500px; margin-right: 2%;
  border: 1px solid #fff; height: 200px;
  display: flex; align-items: center;justify-content: center;
  flex-direction: column;
}
.hall_wrap li:last-child {margin-right: 0;}
.hall_wrap li strong {font-size: 20px;font-weight: bold;margin-bottom: 10px;}
.hall_wrap li em {margin-bottom: 20px;}
.hall_wrap li a {}

.inform_wrap {padding-top: 70px;}
.banner {float: right;margin-bottom: 30px;}
.banner .vr {float: right; background: #d9eee1; min-height: 200px;}
.banner .slider {float: left; background: #fff4a3; min-height: 200px;}
.question {float: left; background: #ffb3bb; min-height: 200px;}
.opening {float: left; background: #96d4d4; min-height: 200px;margin-bottom: 30px;}
.news {float: right; background: lightsalmon; min-height: 200px;}

/* PC */
@media screen and (min-width: 1280px) {
  .container {width: 1200px;}
  #gnb {display: block;}
  .btn_login {display: inline-block;}

  .inform_wrap {}
  .banner {width: 760px;}
  .banner .vr {width: 380px;}
  .banner .slider {width: 380px;}
  .question {float: left;width: 380px;margin-bottom: 30px;}
  .opening {float: left;width: 380px;}
  .news {float: right;width: 760px;}
}
/* Tab - 1 */
@media screen and (max-width: 1279px) {
  .container {width: 94%;}
  h1 {position: absolute;left: 0;top: 0;}
  .banner {width: 64%;}
  .banner .vr {width: 50%;margin-bottom: 30px;}
  .banner .slider {width: 50%;margin-bottom: 30px;}
  .question {width: 32%;margin-bottom: 30px;}
  .opening {width: 32%;margin-bottom: 30px;}
  .news {width: 64%;}
}
/* Tab - 2 */
@media screen and (max-width: 1010px) {
  .exhibit_img {width: calc(50% - 30px);height: 300px;}
  .exhibit_desc {width: calc(50% - 30px);height: 300px;}
  .banner {float: none; width: auto;margin-bottom: 30px;}
  .question {width: 49%;margin-bottom: 30px;}
  .opening {float: right; width: 49%;margin-bottom: 30px;}
  .news {float: none; width: auto;clear: both;}
}
/* inform_wrap 용 */
/* @media screen and (max-width: 1000px) and (min-width: 501px) {
  .banner .vr {width: 50%;}
  .banner .slider {width: 50%;}
  .question {width: 49%;margin-bottom: 30px;}
  .opening {width: 49%;margin-bottom: 30px;}
  .news {clear: both;}
} */
/* Tab - 3 */
@media screen and (max-width: 800px) {
  .exhibit_img {width: 100%;height: 260px;float: none;}
  .exhibit_desc {width: 100%;height: 260px;float: none;}
  .hall_wrap ul {flex-wrap: wrap;}
  .hall_wrap li {width: 49%;box-sizing: border-box;}
  .hall_wrap li:nth-child(2n) {margin-right: 0;}
}
/* Mob */
@media screen and (max-width: 500px) {
  header {background: var(--red);height: 75px;}
  h1 a {
    width: 155px;height: 32px;padding: 18px 15px;
    background-position: 18px 15px;background-size: 155px auto;
  }
  .inform_wrap {padding-top: 0;}
  .banner .vr {float: none; width: auto;margin-bottom: 20px;}
  .banner .slider {float: none; width: auto;}
  .question {float: none; width: auto;margin-bottom: 20px;}
  .opening {float: none; width: auto;margin-bottom: 20px;}
}

/* header */
.skip_nav a {
  display: block; position: absolute; left: 0;top: -70px;
  padding: 20px;color: #fff;text-align: center;
  background: #000;
}
.skip_nav a:focus {
  top: 0px;
}